/* *{
	margin:0px;
	padding:0px;
}
.title{
	position: relative;
	top: 90px;
	text-align: center;
}
h1{
	color: #EEC50F;
	font-size: 46px;
}
body{
    background: white;
}
#divID {
	border: 1px solid #f0f0f0;
    border-radius:10px;
    box-shadow: -0px 0px 5px 1px #ababab;
    position: absolute;
    left: 40%;
    top: 50%;
    width: 600px;
    margin-left: -200px;
    margin-top: -150px;
    font-family: "times";
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select:none;
    color:#D98C0B;
}
.register_dialog_info {
    float: left;
    margin-left:10px;
    color: #fff;
    margin-top: 5px;
    font-size: 20px;
}
form{padding: 20px 0px;}
ul li {list-style: none;}
.sub {
    text-align: center;
}
.sub input {
	position: relative;
	left: 20px;
    display: inline-block;
    width: 300px;
    background-color: #012246;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-family: "courier";
    outline: none;
    border: none;
    margin: auto;
    border-radius: 10px;
}
input[type = "submit"]:hover{cursor: pointer;} */

*{
	margin:0px;
	padding:0px;
}
ul li{
    list-style: none;
}
.title{
    position: relative;
    top: 90px;
    text-align: center;
}
h1{
    color: #EEC50F;
    font-size: 46px;
}
body{
    background: white;
}
#divID{
    position: relative;
    top: 100px;
    margin:50px auto;
    width: 600px;
    font-family: "times";
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select:none;
    color:#D98C0B;
    border: 1px solid #f0f0f0;
    border-radius:10px;
    box-shadow: -0px 0px 5px 1px #ababab;
}
form{
    padding: 20px 0px;
}
.sub{
    text-align: center;
}
input{
    background-color: #fff;
    outline: none; 
}
.sub input{
    position: relative;
    left: 20px;
    display: inline-block;
    width: 300px;
    background-color: #012246;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-family: "courier";
    outline: none;
    border: none;
    margin: auto;
    border-radius: 10px;
}
input[type = "submit"]:hover{
    cursor: pointer;
}


.footer { 
  padding: 0.5rem 0;
  width: 100%;
  background-color: #151517;
  text-align: center;
  margin-top: 50px;
}

#copyright{
	font-size: 14px;
	color: #fff;
}

.reg-box{ 
    position: relative;
}
.reg-box li{
    line-height: 44px;
    width: auto;
    overflow: hidden; 
}
.reg-box li label{ 
    width: 140px; 
    height: 50px; 
    float: left; 
    line-height: 50px; 
    text-align: right;
    padding-right: 30px; 
}
.reg-box li input{ 
    border-radius: 3px; 
    padding: 6px 0; 
    font-size: 16px; 
    width: 296px; 
    height: 39px; 
    line-height: 28px; 
    border: 1px solid #dddddd; 
    text-indent: 0.5em;
    float: left; 
}
.error{
    clear:both;
    display:block;
     padding-left: 90px; 
     padding-bottom:5px;
     height:20px;
     float: left; 
     font-size:12px;
     line-height: 20px;
}

#captcha {
	margin: 10px 0 40px 165px;
}

.reg-box { padding-left: 30px; position: relative;}

.reg-box li { line-height: 44px; width: 500px; overflow: hidden; }

.reg-box li label { width: 140px; height: 50px; float: left; line-height: 50px; text-align: right; padding-right: 30px; }

.reg-box li input,.reg-box li select{ border-radius: 3px; padding: 6px 0; font-size: 16px; width: 296px; height: 39px; line-height: 28px; border: 1px solid #dddddd; text-indent: 0.5em; float: left; }

.reg-box li select option{font-size:16px;}


.add { width: 128px; height: 44px; float: left; display: inline; cursor: pointer; margin-left: 20px; }

.reg-box li .sradd { width: 148px; text-indent: 4px; font-size: 14px; }

.reg-box li .input-code { width: 106px; padding: 10px; font-family: "courier"; font-style: italic; color: red; letter-spacing: 1px; cursor: pointer; text-align: center; text-indent: 0; }

.error { clear:both;display:block;color: red; padding-left: 90px; padding-bottom:5px;height:20px;float: left; font-size:12px;line-height: 20px;}

input { background-color: #fff; outline: none; }

.reg-box li { width: auto; }




.content {
	margin-left:29%;
	background-color: #FFFFFF;
	color: #151517;
	line-height: 200%;
	overflow: auto; 
}

.content h1,h2{
	color: #EEC50F;
	padding-top:10px;
	padding-bottom:40px;
	font-size:36px;
}

.sidebar a:hover{
	background-color:#fff;
	color:#EEC50F;
}

/* left float sidebar */
.sidebar{
	background-color:#EEC50F;
	height:auto;
	width:190px;
	position:fixed!important;
	z-index:1;
	overflow:auto; 
	font-weight: bold;
    letter-spacing: 1px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar a{
	background-color:#fff;
	display: block; 
	text-decoration: none; 
	color: #EEC50F;
	padding: 15px 20px;
	border-top: 1px solid #F0F0F0;
	font-size:15px;
	text-align: center;
}

.sidebar a:hover{
	box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.2);
	color: #fff;
	background-color: #EEC50F;
}

.sidebar h3{
	color: #fff;
	text-align: center;
	padding:5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}


#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .offcanvas #page {
    overflow: hidden;
    position: absolute; }
    .offcanvas #page:after {
      -moz-transition: all 2s ease;
      -o-transition: all 2s ease;
      -webkit-transition: all 2s ease;
      -ms-transition: all 2s ease;
      transition: all 2s ease;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 101;
      background: rgba(0, 0, 0, 0.7);
      content: ""; }

.breadcrumbs {
  clear: both;
  padding: 1em 0; }
.breadcrumbs .bread {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 0; }
.breadcrumbs .bread span {
      padding: 0 7px; }
.breadcrumbs .bread span:first-child {
        padding-left: 0; }
.breadcrumbs .bread span a {
        color: #EEC50F; }

.breadcrumbs-img {
  height: 300px;
  padding: 4em; }

  .breadcrumbs-img h2 {
    font-size: 40px;
    text-transform: uppercase; }
	
	
.breadcrumbs-img{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; }
  
  
.colorlib-product {
  clear: both; }
  
    
.container {
  width: 100%;
  padding-top: 80px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
  
  .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

  .row-pb-lg {
  padding-bottom: 6em !important; }

  .col-md-10, .col-md-12, .col-sm-8, .col-sm-9, .col-sm-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; 
  }
    .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
    .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
    .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
	  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
	  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .offset-md-1 {
    margin-left: 8.33333%; }
	  .offset-sm-2 {
    margin-left: 16.66667%; }
	
	
	.process-wrap {
  width: 100%;
  display: block;
  float: left; }
  
	  .text-center {
  text-align: center !important; }
  
  a:active{
    color: #616161;
    outline: none;
    text-decoration: none; }
	
	
	.total-wrap .form-control {
  height: 40px;
  border: 1px solid #f0f0f0 !important;
  margin-bottom: 10px;
  text-align: center; }
  
  .total-wrap .total {
  padding: 1em;
  background: whitesmoke;
  width: 100%; }
  .total-wrap .total .sub {
    border-bottom: 1px solid #616161;
    margin-bottom: 10px; }
  .total-wrap .total p {
    width: 100%;
    display: block;
    margin-bottom: 10px; }
    .total-wrap .total p span {
      width: 48%;
      display: inline-block; }
      .total-wrap .total p span:last-child {
        font-weight: 500; }
  .total-wrap .total .grand-total p span:last-child {
    color: #616161;
    font-weight: 500; }
	
	.colorlib-heading {
  margin-bottom: 5em; }
  .colorlib-heading h2 {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 700;
    color: #000;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .colorlib-heading.colorlib-heading-sm h2 {
    font-size: 20px;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 1px; }
	
	
	.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .gototop.active {
    opacity: 1;
    visibility: visible; }
  .gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background: #616161;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
    .gototop a i {
      height: 50px;
      display: table-cell;
      vertical-align: middle; }
    .gototop a:hover, .gototop a:active, .gototop a:focus {
      text-decoration: none;
      outline: none; }

	  	  .colorlib-form {
  background: whitesmoke;
  padding: 2em;
  margin-bottom: 30px; }
  @media (max-width: 767.98px) {
    .colorlib-form {
      padding: 1em; } }
  .colorlib-form h2 {
    font-size: 20px;
    margin-bottom: 40px; }
  .colorlib-form label {
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    color: black; }
  .colorlib-form .form-group {
    margin-bottom: 20px; }
  .colorlib-form .form-control {
    height: 50px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
    color: #999999;
    background: #fff; }
    .colorlib-form .form-control:active, .colorlib-form .form-control:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: #616161; }
    .colorlib-form .form-control::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #999999; }
    .colorlib-form .form-control::-moz-placeholder {
      /* Firefox 19+ */
      color: #999999; }
    .colorlib-form .form-control:-ms-input-placeholder {
      /* IE 10+ */
      color: #999999; }
    .colorlib-form .form-control:-moz-placeholder {
      /* Firefox 18- */
      color: #999999; }
  .colorlib-form .form-group {
    margin-bottom: 15px; }
    .colorlib-form .form-group .form-field {
      position: relative;
      padding: 0;
      margin: 0; }
      .colorlib-form .form-group .form-field .icon {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 20px;
        color: #cccccc; }
  .colorlib-form textarea.form-control {
    height: inherit;
    resize: vertical; }
  .colorlib-form .btn-block {
    margin-top: 28px;
    padding: 12px !important;
    font-size: 14px;
    color: #000; }
	
	
	.btn-big {
		padding: 10px 30px 10px 30px;
		font-size: 18px;
		float:right;
	}

