*{
	margin:0px;
	padding:0px;
}
.title{
	position: relative;
	top: 90px;
	text-align: center;
}
h1{
	color: #EEC50F;
	font-size: 46px;
}
body{
    background: white;
}
#divID {
	border: 1px solid #f0f0f0;
    border-radius:10px;
    box-shadow: -0px 0px 5px 1px #ababab;
    position: absolute;
    left: 40%;
    top: 50%;
    width: 600px;
    margin-left: -200px;
    margin-top: -150px;
    font-family: "times";
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select:none;
    color:#D98C0B;
}
.register_dialog_info {
    float: left;
    margin-left:10px;
    color: #fff;
    margin-top: 5px;
    font-size: 20px;
}
form{padding: 20px 0px;}
ul li {list-style: none;}
.sub {
    text-align: center;
}
.sub input {
	position: relative;
	left: 20px;
    display: inline-block;
    width: 300px;
    background-color: #012246;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-family: "courier";
    outline: none;
    border: none;
    margin: auto;
    border-radius: 10px;
}
input[type = "submit"]:hover{cursor: pointer;}

#captcha {
	margin: 10px 0 40px 165px;
}

.reg-box { padding-left: 30px; position: relative;}

.reg-box li { line-height: 44px; width: 500px; overflow: hidden; }

.reg-box li label { width: 140px; height: 50px; float: left; line-height: 50px; text-align: right; padding-right: 30px; }

.reg-box li input,.reg-box li select{ border-radius: 3px; padding: 6px 0; font-size: 16px; width: 296px; height: 39px; line-height: 28px; border: 1px solid #dddddd; text-indent: 0.5em; float: left; }

.reg-box li select option{font-size:16px;}

/*验证码*/
.add { width: 128px; height: 44px; float: left; display: inline; cursor: pointer; margin-left: 20px; }

.reg-box li .sradd { width: 148px; text-indent: 4px; font-size: 14px; }

.reg-box li .input-code { width: 106px; padding: 10px; font-family: "courier"; font-style: italic; color: red; letter-spacing: 1px; cursor: pointer; text-align: center; text-indent: 0; }

.error { clear:both;display:block;color: red; padding-left: 90px; padding-bottom:5px;height:20px;float: left; font-size:12px;line-height: 20px;}

input { background-color: #fff; outline: none; }

.reg-box li { width: auto; }




.container{padding:150px 120px 100px 100px;}

.content {
	margin-left:29%;
	background-color: #FFFFFF;
	color: #151517;
	line-height: 200%;
	overflow: auto; 
}

.content h1,h2{
	color: #EEC50F;
	padding-top:10px;
	padding-bottom:40px;
	font-size:36px;
}

.sidebar a:hover{
	background-color:#fff;
	color:#EEC50F;
}

/* left float sidebar */
.sidebar{
	background-color:#EEC50F;
	height:auto;
	width:190px;
	position:fixed!important;
	z-index:1;
	overflow:auto; 
	font-weight: bold;
    letter-spacing: 1px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar a{
	background-color:#fff;
	display: block; 
	text-decoration: none; 
	color: #EEC50F;
	padding: 15px 20px;
	border-top: 1px solid #F0F0F0;
	font-size:15px;
	text-align: center;
}

.sidebar a:hover{
	box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.2);
	color: #fff;
	background-color: #EEC50F;
}

.sidebar h3{
	color: #fff;
	text-align: center;
	padding:5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}
